@using Tasklyne.ViewModels
@using Tasklyne.Views.ViewModels
@model IEnumerable<UserVM>


<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Role</td>
            <td>Phone</td>

            <td>Email</td>
            <td>....</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.UserId</td>
                <td>@role.UserName</td>
                <td>@role.RoleName</td>
                <td>@role.PhoneNumber</td>

                <td>@role.Email</td>
                <td>
                    <a asp-action="AssignRole" asp-route-userId="@role.UserId">Assign/Edit Role</a> |
                    <a asp-action="Delete" asp-route-id="@role.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>